---
- name: Create application directory
  file:
    path: "{{ app_dir }}"
    state: directory
    owner: "{{ deploy_user }}"
    group: "{{ deploy_user }}"
    mode: '0755'

- name: Clone repository
  git:
    repo: "{{ git_repo }}"
    dest: "{{ app_dir }}"
    version: "{{ git_branch }}"
    accept_hostkey: yes
    force: yes
  become: yes
  become_user: "{{ deploy_user }}"

- name: Create environment file from template
  template:
    src: "env.j2"
    dest: "{{ app_dir }}/{{ env_file }}"
    owner: "{{ deploy_user }}"
    group: "{{ deploy_user }}"
    mode: '0600'
  notify: reload django services

- name: Copy nginx configuration file
  copy:
    src: "nginx.conf"
    dest: "{{ app_dir }}/nginx.conf"
    owner: "{{ deploy_user }}"
    group: "{{ deploy_user }}"
    mode: '0644'
  notify: reload nginx

- name: Copy Docker Compose configuration
  copy:
    src: "docker-compose.yml"
    dest: "{{ app_dir }}/docker-compose.yml"
    owner: "{{ deploy_user }}"
    group: "{{ deploy_user }}"

- name: Create directories for volumes
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ deploy_user }}"
    group: "{{ deploy_user }}"
  loop:
    - "{{ app_dir }}/postgres_data"
    - "{{ app_dir }}/static_volume"
    - "{{ app_dir }}/nginx_logs"

- name: Pull Docker images
  command: docker compose pull
  args:
    chdir: "{{ app_dir }}"
  become: yes
  become_user: "{{ deploy_user }}"

- name: Start services with Docker Compose
  command: docker compose up -d
  args:
    chdir: "{{ app_dir }}"
  become: yes
  become_user: "{{ deploy_user }}"

- name: Check running containers
  command: docker ps -a
  register: running_containers
  changed_when: false

- name: Display running containers
  debug:
    msg: |
      Running containers:
      {{ running_containers.stdout }}
